<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />
<h1><p id= "youfound"></p></h1>
<p id="results">
<p id="response" style="color: crimson;"> 
<h1><p id= "win"></p> </h1>
<script>
  // Suppress normal form submission
  $("#entry").submit( function(event) {
      event.preventDefault();
    });
  
  // On each keystroke, ask the server whether the current 
  // word is long enough. 
  //
  // We use 'keyup' because the form value
  // is updated before that event is generated.
  // keypress is triggered before the input field has been
  // updated.  Be aware that we'll see non-character keys like
  // shift and control, so make sure whatever you do with the
  // event does not depend on it being a letter. 
  //
  $("#attempt").keyup(function(event) {
      var txt = $("#attempt").val();  // Current content of the input field
      var keycode = event.which;      // They key that just went up
      var letter = String.fromCharCode(keycode);
  
      // That letter might not be a letter ... it could be the
      // the backspace key, or even the shift key, because 'keyup'
      // catches all kinds of keys.  (Also, the difference between
      // upper and lower case comes from state of shift key + key code,
      // so ignoring the shift key we get only the upper case letters.)
  
      if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }
  
      $.getJSON( "/_check", {text: txt}, 
        function(data) {
          rsval = data.result;
          win = data.result.iswin;
          console.log("rsval: " + txt);
          console.log("count: " + data.result.count);
          if (rsval.found_new) {
              $("#results").append(txt+ " ");
              txt = ""; 
              $("#attempt").val("");
           if (win){
            $("#win").html("YOU WIN!");
            $("#attempt").val("");
            $("#results").val("");
            $("#response").html(" "); 
            window.location.replace("/success");
           }
          } else if(rsval.already_found) {
            $("#response").html("You already found " + txt)
          } else if(rsval.not_matched){
            $("#response").html(txt + " Isnt in the list of words")
          } else if(rsval.not_in_jumble){
            $("#response").html(txt + " cant be made from the letters " + data.result.jumbleword)
          }
        }
      );
  });
</script>
<!--
{% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}
</p>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
     Mismatch, already found, etc. "flashed" from Python 
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

-->

 </div> <!-- container -->
</body> </html>
